

@mainMusic("École de musique de Sautron") {

   
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">École de musique de Sautron</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Présentation
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Bénéfices de la musique</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Le conseil d'administration</a></li>
            <li><a href="#">Règlement intérieur</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pédagogie
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Organisation pédagogique</a></li>
            <li><a href="#">Équipe pédagogique</a></li>
            <li><a href="#">Desciptif des disciplines enseignées</a></li>
            <li><a href="#">Pratiques collectives</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vie à l'école
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Emploi du temps</a></li>
            <li><a href="#">Événements</a></li>
            <li><a href="#">Planning d'occupation des salles</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="video.html">Vidéos</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
	
	
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
    <!-- <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div> -->
	<div class="col-sm-9 text-left"> 
		<h1>Evénements</h1>
		
		<div class="row content">
			<h3>concert de juin 2015</h3>
			<hr>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<video width="360" height="200" controls>
					<source src="assets/videos/Clarisse.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<video controls>
					<source src="assets/videos/Louis.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video>
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/testAlain.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/testAlain.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/testAlain.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
		</div>

		
		
		<div class="row content">
			<h3>concert de juin 2015</h3>
			<hr>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/testAlain.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/Louis.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/testAlain.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/testAlain.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
			<div class="col-sm-3">
			  <div class="embed-responsive embed-responsive-16by9">
				<!-- <video controls>
					<source src="videos/testAlain.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video> -->
			  </div>
			</div>
		</div>
   </div>
    <div class="col-sm-3 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container text-center">    
  <h2>Evénements</h2><br>
  <br/><br/>
  <div class="row">
      	<div class="col-sm-1">
			  <div class="embed-responsive embed-responsive-16by9">
				<video width="360" height="200" controls>
					<source src="assets/videos/Clarisse.mp4" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			  </div>
			</div>
			<div class="col-sm-1">
			  <div class="embed-responsive embed-responsive-16by9">
				<video controls>
					<source src="assets/videos/Louis.ogg" type="video/ogg">
					Your browser does not support the video tag.
				</video>
			  </div>
			</div>
    <div class="col-sm-4">
      <div class="well">
       <p>Some text..</p>
      </div>
      <div class="well">
       <p>Some text..</p>
      </div>
    </div>
  </div>
</div><br>-->

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>


}

